.rollover
  padding 15px 0
  text-align center
  font-size 14px
  &.open
    background #ECF0F1

    .rollover-title
      color inherit
      text-align center
      font-weight 500
      border-bottom none
      display inline-block

.rollover-title
  color #D0021B
  font-size 14px
  text-align center
  border-bottom 1px dotted #D0021B
  display inline-block

.rollover-content
  margin-top 10px
  text-align left
  line-height 20px
  white-space: pre-wrap
