@import 'nib'

.divider
  color #999
  width 100%
  text-align center
  position relative
  margin 25px 0
  &:after
    content 'OR'
    background white
    text-align center
    position relative
    padding 0 18px
  &:before
    content ''
    absolute left top 50%
    height 1px
    background #BDC3C7
    width 100%
