.step-header,
.step-description
  letter-spacing 0px
  line-height 20px
  text-align center

.step-description
  margin-bottom 25px


.already-have-id
  display block
  text-align center
  text-decoration underline

.step-user-img
  height 240px
  border red 1px solid

.take-photo
  background url('/img/take-photo.png') center no-repeat #D0021B
  width 70px
  height 70px
  border-radius 100%
  cursor pointer
  margin 30px auto 25px

.steps-counter
  margin 50px auto 45px
  text-align center

  span
    border 2px solid #7ED321
    border-radius 100%
    color #7ED321
    display inline-block
    font-size 16px
    font-weight bold
    height 30px
    line-height 28px
    text-align center
    width 30px
    margin 0 15px

    &.done-on
      background #7ED321
      color white

.can-you-reed
  margin 25px auto
  text-align center

.can-you-reed-title
  font-weight bold
  letter-spacing 0px
  line-height 20px
  margin-bottom 15px

.success-ico
  background url('/img/success.svg') center no-repeat
  height 80px
  width 80px
  margin 0 auto 15px

.success-title
  font-weight bold
  margin-bottom 10px
  text-align center

.success-text
  font-size 14px
  margin-bottom 25px
  text-align center
